<module name="location" version="1.0">
	<tables>
		<table>
			<name>location</name>
			<columns>
				<column>
					<name>source</name>
					<type>text</type>
				</column>
				<column unit="degrees">
					<name>latitude</name>
					<type>real</type>
				</column>
				<column unit="degrees">
					<name>longitude</name>
					<type>real</type>
				</column>
				<column unit="meters">
					<name>accuracy</name>
					<type>real</type>
				</column>
				<column unit="meters above the WGS 84 reference ellipsoid">
					<name>altidude</name>
					<type>real</type>
					<nullable>true</nullable>
				</column>
				<column unit="meters/second">
					<name>speed</name>
					<type>real</type>
					<nullable>true</nullable>
				</column>
			</columns>
		</table>
	</tables>
</module>